.hs-related-blog-item,.hs-rss-item{margin-bottom:20px}.hs-related-blog-byline,.hs-rss-byline{opacity:.7;font-size:85%}.hs-related-blog-item.hs-with-featured-image{overflow:hidden}.hs-related-blog-item.hs-with-featured-image .hs-related-blog-item-text{width:80%;float:left;padding-right:20px;box-sizing:border-box}.hs-related-blog-item.hs-with-featured-image .hs-related-blog-item-image-wrapper{display:inline-block;width:20%}.hs-related-blog-item.hs-with-featured-image .hs-related-blog-item-image-wrapper .hs-related-blog-featured-image{width:100%}.hs-rss-item.hs-with-featured-image{overflow:hidden}.hs-rss-item.hs-with-featured-image .hs-rss-item-text{width:80%;float:left;padding-right:20px;box-sizing:border-box}.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper{display:inline-block;width:20%}.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper .hs-rss-featured-image{width:100%}


/*
     FILE ARCHIVED ON 00:14:00 Jun 07, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:13:52 Jul 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 92.341
  exclusion.robots: 0.151
  exclusion.robots.policy: 0.133
  cdx.remote: 0.098
  esindex: 0.013
  LoadShardBlock: 62.374 (3)
  PetaboxLoader3.datanode: 47.533 (4)
  load_resource: 44.335
  PetaboxLoader3.resolve: 40.082
*/